<div class="px-0 container-fluid main min-h-full">
  <div class="layout max-w-screen-2xl h-full m-auto flex">
    <div class="layout-top fixed-top nav w-full">
      <nav class="navbar px-[10%] w-full navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand text-2xl">UTM eActivity</a>
          <form class="d-flex">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/landing"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/blog"
                >Blog</a
              >
            </li>
            <li *ngIf="authService.display()" class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/profile"
                >Profile</a
              >
            </li>
            <li *ngIf="authService.display()" class="nav-item">
              <button (click)="logout()" class="btn w-full">
                <i class="fas fa-power-off text-danger"></i>
              </button>
            </li>
          </form>
        </div>
      </nav>
    </div>
    <div
      class="d-flex mt-24 enrolledList flex-column align-items-stretch flex-shrink-0 bg-white"
      style="width: 380px"
      *ngIf="eventEntry$ | async as eventEntry"
    >
      <a
        data-bs-toggle="collapse"
        href="#collapseExample"
        (click)="expand()"
        class="d-flex align-items-center w-full justify-between flex-shrink-0 p-3 rounded-md rounded-b-none bg-black link-light text-decoration-none border-bottom"
      >
        <span class="fs-5 fw-semibold">Enrolled Users</span>
        <i class="float-right bi bi-{{exp}}"></i>
      </a>

      <div
        *ngIf="eventEntry.eventEnrolles == '[]'"
        class="alert alert-light rounded-t-none"
        role="alert"
      >
        No Users Enrolled
      </div>
      <i *ngIf="user$ | async as user">
        <div
          *ngIf="checkEnrolled(eventEntry.eventEnrolles, user.id)"
          class="alert alert-success rounded-none mb-0"
          role="alert"
        >
          You Are Enrolled
        </div>
      </i>

      <div
        *ngIf="eventEntry.eventEnrolles !== '[]'"
        id="collapseExample"
        class="collapse list-group list-group-flush border-bottom scrollarea"
      >
        <ol>
          <div *ngFor="let userEntry of (dataSourceTwo | async)?.items">
            <a
              routerLink="/user/{{ userEntry.id }}"
              class="list-group-item list-group-item-action py-3 lh-tight"
              *ngIf="checkEnrolled(eventEntry.eventEnrolles, userEntry.id)"
            >
              <div
                class="d-flex w-100 align-items-center justify-content-between"
              >
                <strong class="mb-1">{{ userEntry.name }}</strong>
                <small><li class="text-base">&nbsp;</li></small>
              </div>
              <div class="col-10 mb-1 small">
                {{ userEntry.bio }}
              </div>
            </a>
          </div>
        </ol>
      </div>
    </div>
    <div class="layout-middle pt-24" *ngIf="eventEntry$ | async as eventEntry">
      <div
        class="event-layout max-w-max p-4 card bg-[#1a1a1b] flex flex-row items-center justify-center m-auto"
      >
        <div class="userDiv flex flex-row items-center">
          <img
            routerLink="/user/{{ eventEntry.author?.id }}"
            src="{{origin}}/api/user/profile-avatar/{{
              eventEntry.author?.avatar
            }}"
            class="w-20 h-20 rounded-full cursor-pointer"
            draggable="false"
            alt=""
          />
          <div class="authorName pl-4 flex flex-col">
            <span class="articleAuthor">{{ eventEntry.author?.name }}</span>
            <span
              routerLink="/user/{{ eventEntry.author?.id }}"
              class="articleAuthor Username"
              >@<a class="text-white hover:text-[#1365fd] no-underline">{{
                eventEntry.author?.username
              }}</a></span
            >
          </div>
        </div>
        <div class="dateDiv flex flex-row">
          <div class="event-info flex flex-col pl-4">
            <span class="articleDate"
              >Created on {{ eventEntry.creationDate | date }}</span
            >
            <span class="articleDate" *ngIf="eventEntry.dueDate !== null"
              >Scheduled for {{ eventEntry.dueDate | date }}</span
            >
          </div>
        </div>
        <div class="seatPriceDiv flex-row flex">
          <div class="seatsDiv flex-row items-center flex">
            <ul class="menu-content flex flex-row items-center pl-4 mb-0">
              <!-- <li>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Number of Seats"
                  class="text-white"
                  ><i class="fa fa-ticket-alt"></i
                  ><span *ngIf="eventEntry.eventSeats !== null" class="pl-2">{{
                    eventEntry.eventSeats
                  }}</span
                  ><span *ngIf="eventEntry.eventSeats == null" class="pl-2"
                    >Unlimited</span
                  ></a
                >
              </li> -->
              <li class="pl-2 text-white">
                <i class="fas fa-users"></i>
                {{ countArray(eventEntry.eventEnrolles) }}
              </li>
            </ul>
          </div>

          <div
            *ngIf="eventEntry.eventPrice !== null"
            class="priceDiv flex flex-row items-center pl-4 text-white"
          >
            <span class="block">RM{{ eventEntry.eventPrice }}</span>
          </div>
          <div
            *ngIf="eventEntry.eventPrice == null"
            class="pl-5 priceDiv flex flex-col items-center text-white"
          >
            Free
          </div>
        </div>
        <div
          class="buttonDiv flex flex-row h-full"
          id="edittingSection"
          *ngIf="user$ | async as user"
        >
          <div
            *ngIf="eventEntry.author?.id == user.id || user.role == 'admin'"
            class="buttons pl-4"
          >
            <button
              *ngIf="eventEntry.author?.id == user.id"
              class="btn btn-info"
              routerLink="/update-event/{{ eventEntry.id }}"
            >
              Edit
            </button>
            <button
              (click)="deletePost(eventEntry.id)"
              class="btn btn-danger ml-2"
            >
              Delete
            </button>
          </div>
          <div *ngIf="user.role == 'user'" class="flex flex-row pl-4">
            <button
              class="btn btn-info ml-2"
              *ngIf="!isEnrolled(eventEntry.eventEnrolles, user.id)"
              (click)="changeValue(eventEntry.eventEnrolles, user.id)"
            >
              <i class="fas fa-user-plus"></i> Enroll
            </button>
            <!-- MODAL -->
            <div
              class="modal fade"
              id="enrollModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="enrollModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content ticketModal">
                  <div class="modal-body">
                    <div class="cardWrap">
                      <div class="card2 cardLeft">
                        <h1>eActivity <span>Ticket</span></h1>
                        <div class="title2">
                          <h2>{{ eventEntry.eventTitle | slice: 0:18 }}...</h2>
                          <span>Event</span>
                        </div>
                        <div class="name2">
                          <h2>{{ user.name }}</h2>
                          <span>name</span>
                        </div>
                        <div class="seat2">
                          <h2>
                            {{ eventEntry.dueDate | date: "mediumDate" }}
                          </h2>
                          <span>Time</span>
                        </div>
                        <div class="time2">
                          <h2>
                            {{ eventEntry.dueDate | date: "shortTime" }}
                          </h2>
                          <span>date</span>
                        </div>
                      </div>
                      <div class="card2 cardRight">
                        <div class="eye2"></div>
                        <div class="number2">
                          <h3>
                            {{ user.id }}
                          </h3>
                          <span>ID</span>
                        </div>
                        <div class="barcode"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ENROLLED -->
            <button
              *ngIf="isEnrolled(eventEntry.eventEnrolles, user.id)"
              class="btn btn-success ml-2"
              data-bs-toggle="modal"
              data-bs-target="#enrollModal"
            >
              <i class="far fa-bookmark"></i> Enrolled
            </button>
          </div>
        </div>
      </div>

      <div class="divid pt-12"></div>
      <!-- <div
        class="event-layout p-4 card w-[70%] bg-[#1a1a1b] flex flex-col items-center justify-center m-auto"
        *ngIf="eventEntry.eventEnrolles !== '[]'"
      >
        <h1 class="lead text-white">Event Enrolless:</h1>
        <div
          class="flex flex-col items-center justify-center"
          *ngFor="let userEntry of (dataSourceTwo | async)?.items"
        >
          <div class="text-white lead">
            <span> -{{ userEntry.name }} </span>
          </div>
        </div>
      </div> -->
      <div class="divid pt-12"></div>
      <article class="article-layout m-auto w-[70%]">
        <div class="layout-middle px-4">
          <img
            src="{{origin}}/api/event/image/{{
              eventEntry.eventImage
            }}"
            alt=""
            class="imageHeader m-auto hover:cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#mainPhoto"
          />
        </div>
        <div
          class="modal fade"
          id="mainPhoto"
          tabindex="-1"
          aria-labelledby="mainPhotoLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content rounded-2xl">
              <div class="modal-body p-0">
                <img
                  src="{{origin}}/api/event/image/{{
                    eventEntry.eventImage
                  }}"
                  alt=""
                  class="imageHeader w-full h-full z-30"
                />
                <i
                  class="bi bi-x absolute z-50 text-secondary top-1 right-2 cursor-pointer text-2xl"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-bottom pt-10 pb-4 px-4">
          <h1 class="display-6">
            {{ eventEntry.eventTitle }}
          </h1>
          <p class="lead mt-4" [innerHTML]="eventEntry.eventBody | purify"></p>
        </div>
      </article>
      <div class="commentsDisqus m-auto w-[70%] px-4">
        <disqus identifier="'{{ eventEntry.id }}'"> </disqus>
      </div>
    </div>
  </div>
</div>
