<div class="navbar ml-24 justify-content-center fixed-top">
  <ul class="nav text-blue-50">
    <li class="nav-item pt-1">
      <a class="nav-link pl-0 pr-20" href="#">Events</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link pl-0 pr-10" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand text-3xl px-10" href="/">UTM-Social</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link pr-0 pl-10" href="#">About us</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link disabled pr-0 pl-20">Contact us</a>
    </li>
  </ul>
</div>
<section class="vh-100 z-30 bg-gray-900 shadow-xl">
  <div
    class="container-fluid h-screen flex justify-start text-center items-center"
  >
    <div class="text-white ml-24">
      <h1 class="display-2">UTM-Social</h1>
      <div class="container-fluid">
        <div class="separator line-separator">✻</div>
      </div>
      <p class="lead text-2xl">Your way to keep in touch with the world!</p>
    </div>
    <img src="{{ hero }}" alt="" class="w-1/2 absolute right-10" />
  </div>
</section>
<section class="min-h-screen w-full z-30 bg-indigo-500 shadow-xl">
  <h1
    class="
      display-4
      whyus
      font-semibold
      text-white
      uppercase
      text-center
      pt-28
      pb-16
    "
  >
    Why us?
  </h1>

  <div class="main-container flex justify-center items-center flex-wrap">
    <div
      class="
        container-card
        flex
        justify-center
        items-center
        flex-wrap
        max-w-screen-xl
        mx-10
      "
    >
      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">01</h2>
            <i class="bi bi-suit-club-fill text-white text-5xl"></i>
            <h3 class="mt-4">Value</h3>
            <p class="lead capitalize">
              Created by students For students we know the struggle, and we
              trying to fight it together.<br />yippee
            </p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">02</h2>
            <i class="bi bi-suit-diamond-fill text-white text-5xl"></i>
            <h3 class="mt-4">Time</h3>
            <p class="lead capitalize">
              Trying to find events without any idea where to find it is no fun.
              We have all the events in one place
            </p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">03</h2>
            <i class="bi bi-suit-spade-fill text-white text-5xl"></i>
            <h3 class="mt-4">New Level</h3>
            <p class="lead capitalize">
              our website is more than events, here you can connect with
              students outside your inner-circle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
