$primary: #1a1375;
$secondry: #476072;
$primaryFont: "Montserrat";
$secondryFont: "Poppins";
$thirdFont: "Raleway";
.nav-link {
  color: rgba(239, 246, 255, var(--tw-text-opacity)) !important;
}
.navbar-brand:hover {
  color: #fff !important;
}
a {
  text-decoration: none;
}
.nav {
  font-family: $primaryFont;
}
.line-separator::before,
.line-separator::after {
  display: inline-block;
  content: "";
  border-top: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
  width: 35%;
  margin: -11px 1rem;
  transform: translateY(-1rem);
}
.whyus {
  font-family: $primaryFont;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #202020, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.container-card .cards {
  position: relative;
  min-width: 320px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  box-shadow: inset 5px 5px 5px rgb(0 0 0 / 20%),
    inset -5px -5px 15px rgb(255 255 255 / 10%), 5px 5px 15px rgb(0 0 0 / 30%),
    -5px -5px 15px rgb(255 255 255 / 10%);
}

.container-card .cards:nth-child(1) .box .content a {
  background: #2196f3;
}

.container-card .cards:nth-child(2) .box .content a {
  background: #e91e63;
}

.container-card .cards:nth-child(3) .box .content a {
  background: #23c186;
}

.container-card .cards .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container-card .cards .box:hover {
  transform: translateY(-50px);
}

.container-card .cards .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container-card .cards .box .content {
  padding: 20px;
  text-align: center;
}

.container-card .cards .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.container-card .cards .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container-card .cards .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container-card .cards .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container-card .cards .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
