
<div class="wrapper w-screen bg-[#F5F7FF] d-flex align-items-stretch">
  <div class="layout-top fixed-top nav w-full">
    <nav class="navbar px-[10%] w-full navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand text-2xl">UTM eActivity</a>
        <form class="d-flex">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/landing"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/events"
              >Events</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/blog"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Info"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact"
              >Contact</a
            >
          </li>
          <li *ngIf="authService.display()" class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/profile"
              >Profile</a
            >
          </li>
          <li *ngIf="authService.display()" class="nav-item">
            <button (click)="logout()" class="btn w-full">
              <i class="fas fa-power-off text-danger"></i>
            </button>
          </li>
        </form>
      </div>
    </nav>
  </div>
  <!-- Page Content  -->
  <div id="content" class=" m-auto max-w-screen-xl pt-24 ">
    <div class="panelHandler px-[12px] ">
      <div
        class="card w-full border-[1px] shadow-sm rounded-2xl p-2 h-[50px] flex justify-center items-center flex-row navCard"
      >
      <ul
        id="myTab"
        role="tablist"
        class="nav  flex flex-row list-unstyled items-center components gap-8"
      >
      <li class="active cardTitle"  >
        <a
          id="dashboard-tab"
          data-bs-toggle="tab"
          data-bs-target="#dashboard"
          type="button"
          role="tab"
          aria-controls="dashboard"
          aria-selected="true"
          >Dashboard</a
        >
      </li>
      <li class="cardTitle">
        <a
          id="users-tab"
          data-bs-toggle="tab"
          data-bs-target="#users"
          type="button"
          role="tab"
          aria-controls="users"
          aria-selected="false"
          >Users</a
        >
      </li>
      <li class="cardTitle">
        <a
          id="newBlog-tab"
          data-bs-toggle="tab"
          data-bs-target="#newBlog"
          type="button"
          role="tab"
          aria-controls="newBlog"
          aria-selected="false"
          >New Article</a
        >
      </li>
        <li class="cardTitle">
          <a
            id="events-tab"
            data-bs-toggle="tab"
            data-bs-target="#events"
            type="button"
            role="tab"
            aria-controls="events"
            aria-selected="false"
            >Events</a
          >
        </li>
        <button class="cardTitle bg-rose-500 p-2 w-28 text-white rounded-full">
         <i class="bi bi-cloud-arrow-down-fill"></i> Export
        </button>
    </ul>
      
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="dashboard"
        role="tabpanel"
        aria-labelledby="dashboard-tab"
      >
        <div class="max-w-screen-xl m-auto">
          <div class="titleDiv pt-4 pb-2">
            <span class="cardTitle  pl-[14px]">Dashboard</span>
          </div>
          <div class="row w-full text-white">
            <div class="col-xl-3 col-md-6" *ngIf="dataSource">
              <div
                class="card cardBG p-4 shadow-sm rounded-2xl flex flex-row justify-between items-center border-none"
              >
                <div class="iconBg1">
                  <i class="bi bi-people text-[30px] pr-0"></i>
                </div>
                <div class="infoDiv flex flex-col text-center pt-2">
                  <span class="userInfo text-xl">Users</span>
                  <h5
                    [countUp]="dataSource.meta.totalItems"
                    class="userInfo text-2xl font-bold"
                  >
                    0
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" *ngIf="dataSourcePosts">
              <div
                class="card cardBG2 p-4 shadow-sm rounded-2xl flex flex-row justify-between items-center border-none"
              >
                <div class="iconBg2">
                  <i class="bi bi-chat-square-text text-[30px] pr-0"></i>
                </div>

                <div class="infoDiv flex flex-col text-center pt-2">
                  <span class="userInfo text-xl">Posts</span>
                  <h5
                    [countUp]="dataSourcePosts.meta.totalItems"
                    class="userInfo text-2xl font-bold"
                  >
                    0
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" *ngIf="dataSourceEvents">
              <div
                class="card cardBG3 p-4 shadow-sm rounded-2xl flex flex-row justify-between items-center border-none"
              >
                <div class="iconBg3">
                  <i class="bi bi-file-earmark-post text-[30px] pr-0"></i>
                </div>

                <div class="infoDiv flex flex-col text-center pt-2">
                  <span class="userInfo text-xl">Events</span>
                  <h5
                    [countUp]="dataSourceEvents.meta.totalItems"
                    class="userInfo text-2xl font-bold"
                  >
                    0
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" *ngIf="dataSourceBlogs">
              <div
                class="card cardBG4 p-4 shadow-sm rounded-2xl flex flex-row justify-between items-center border-none"
              >
                <div class="iconBg4">
                  <i class="bi bi-newspaper text-[30px] pr-0"></i>
                </div>
                <div class="infoDiv flex flex-col text-center pt-2">
                  <span class="userInfo text-xl">Blogs</span>
                  <h5
                    [countUp]="dataSourceBlogs.meta.totalItems"
                    class="userInfo text-2xl font-bold"
                  >
                    0
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row w-full mt-0">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
              <div class="card border-[1px] shadow-sm rounded-2xl px-[15px]">
                <div class="chart-wrapper relative">
                <h5 class="cardTitle py-2 absolute ">Chart</h5>
                  <canvas
                    baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    class="h-[350px] w-full"
                  >
                  </canvas>
                </div>
                <input
                  #adminNum
                  type="text"
                  [value]="adminNum"
                  class="hidden"
                />
                <input #userNum type="text" [value]="userNum" class="hidden" />
                <input #clubNum type="text" [value]="clubNum" class="hidden" />
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
              <div
                class="card p-3 border-[1px] shadow-sm rounded-2xl px-[15px] h-[350px]"
              >
                <h5 class="cardTitle pb-2">New Members</h5>
                <div class="newUsers overflow-auto">
                  <table class="table table-borderless table-fixed">
                    <thead class="bg-[#333] border-none">
                      <tr>
                        <th scope="col " class="thT w-[10%]">#</th>
                        <th scope="col" class="thT w-[30%]">Name</th>
                        <th scope="col" class="thT w-[20%]">Role</th>
                        <th scope="col" class="thT w-[20%]">Joined</th>
                      </tr>
                    </thead>
                    <tbody
                      *ngFor="let userEntry of (dataSourceTwo | async)?.items"
                    >
                      <tr
                        *ngIf="
                          (userEntry.joinedDate | date) === (myDate | date)
                        "
                      >
                        <th class="thD">{{ userEntry.id }}</th>
                        <td class="thD">{{ userEntry.name }}</td>
                        <td class="thD">{{ userEntry.role }}</td>
                        <td class="thD">Today</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row w-full mt-0">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div
                class="card p-3 border-[1px] shadow-sm rounded-2xl px-[15px] h-[400px]"
              >
                <h5 class="cardTitle pb-2">Users</h5>
                <div id="userTable" class="overflow-auto">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="colUser" scope="col">ID</th>
                        <th class="colUser" scope="col">NAME</th>
                        <th class="colUser" scope="col">ROLE</th>
                        <th class="colUser" scope="col">JOINED</th>
                        <th class="colUser" scope="col">No. POSTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let userEntry of (dataSourceTwo | async)?.items"
                      >
                        <th class="colUserInfo" scope="row">
                          {{ userEntry.id }}
                        </th>
                        <td>
                          <div class="userStuff flex flex-row">
                            <img
                              class="w-[40px] rounded-full h-[40px]"
                              src="{{origin}}/api/user/profile-avatar/{{
                                userEntry.avatar
                              }}"
                              alt="..."
                            />
                            <div class="flex pl-2 flex-col">
                              <span
                                class="userName text-black text-[14px] colUserInfo"
                                >{{ userEntry.name }}</span
                              >
                              <span class="userEmail text-[14px] colUserInfo">{{
                                userEntry.email
                              }}</span>
                            </div>
                          </div>
                        </td>
                        <td class="colUserInfo">{{ userEntry.role }}</td>
                        <td class="colUserInfo">
                          {{ userEntry.joinedDate | date }}
                        </td>
                        <td class="colUserInfo">--</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row w-full mt-0">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div
                class="card p-3 border-[1px] shadow-sm rounded-2xl px-[15px]"
              >
                <h5 class="cardTitle pb-2">Articles</h5>
                <div class="articleDiv flex flex-row overflow-auto">
                  <div
                    *ngFor="let blogEntry of (dataSourceBlog | async)?.items"
                    class="card border-[1px] shadow-sm ml-2 w-[40%]"
                  >
                    <img
                      *ngIf="blogEntry.headerImage !== null"
                      src="{{origin}}/api/blog/image/{{
                        blogEntry.headerImage
                      }}"
                      class="h-[200px] w-max"
                      alt=""
                    />
                    <img
                      *ngIf="blogEntry.headerImage == null"
                      src="https://sourceoneinsurance.com/wp-content/uploads/blog-placeholder.jpg"
                      class=""
                      alt=""
                    />
                    <div
                      class="blogCardInfo h-full flex flex-col justify-between p-2"
                    >
                      <div class="authorTitle">
                        <small
                          class="text-[14px] font-normal text-muted cardTitle"
                          >{{ blogEntry.author?.name }}</small
                        >
                        <h5 class="cardTitle">{{ blogEntry.articleTitle }}</h5>
                        <p
                          class="font-normal text-slate-700 cardTitle text-[14px]"
                        >
                          {{ blogEntry.articleDescription }}
                        </p>
                      </div>
                      <button
                        routerLink="/article/{{ blogEntry.slug }}"
                        class="btn btn-info"
                      >
                        More!
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-20"></footer>
      </div>
      <div
        class="tab-pane fade"
        id="users"
        role="tabpanel"
        aria-labelledby="users-tab"
      >
        <div *ngIf="dataSource" class="px-4">
          <table
            class="mat-elevation-z8 w-full"
            mat-table
            [dataSource]="dataSource.items"
            matSort
          >
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="navigateToProfile(row.id)"
            ></mat-row>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Id</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Name</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Username</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Email</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Role</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.role }}</mat-cell>
            </ng-container>
          </table>

          <mat-paginator
            class="mt-4"
            [length]="dataSource.meta.totalItems"
            [pageSize]="dataSource.meta.itemsPerPage"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="Blog"
        role="tabpanel"
        aria-labelledby="Blog-tab"
      >
        <article
          *ngFor="let blogEntry of (dataSourceBlog | async)?.items"
          class="container pt-4"
        >
          <mat-card>
            <mat-card-title
              ><strong class="pr-2">{{ blogEntry.id }}</strong
              >{{ blogEntry.articleTitle }}</mat-card-title
            >
            <mat-card-subtitle>{{ blogEntry.author?.name }}</mat-card-subtitle>
            <mat-card-content>
              <p>{{ blogEntry.articleDescription }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button class="mr-4 w-[10%]" color="primary">
                Edit<span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6"
                >
                  soon
                </span>
              </button>

              <button
                mat-flat-button
                class="w-[10%]"
                color="warn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Delete
              </button>

              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Warning
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body font-semibold">
                      Are you sure you want to delete the article?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        (click)="deleteBlog(blogEntry.id)"
                        mat-flat-button
                        class="w-[10%]"
                        color="warn"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </article>
      </div>
      <div
        class="tab-pane fade"
        id="newBlog"
        role="tabpanel"
        aria-labelledby="newBlog-tab"
      >
        <app-blog-create></app-blog-create>
      </div>
      <div
        class="tab-pane fade"
        id="events"
        role="tabpanel"
        aria-labelledby="events-tab"
      >
        <h1>events</h1>
      </div>
    </div>
  </div>
</div>
