<div class="layout-container flex h-screen w-screen">
  <div
    class="
      d-flex
      flex-column flex-shrink-0
      p-3
      h-full
      nav-layout
      text-white
      fixed-bottom
      bg-[#212529]
    "
    style="width: 280px"
  >
    <a
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-white text-decoration-none
      "
    >
      <span class="fs-3"><i class="bi bi-speedometer"></i>Admin</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <button
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
          class="nav-link active text-white"
          aria-current="page"
        >
          <i class="bi bi-people"></i>Users
        </button>
      </li>
      <li id="nav-profile-tab">
        <button
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
          class="nav-link text-white"
        >
          <i class="bi bi-text-paragraph"></i>Blog
        </button>
      </li>
      <li id="nav-contact-tab">
        <button
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
          class="nav-link text-white"
        >
          <i class="bi bi-brush"></i>New Article
        </button>
      </li>
      <li>
        <a class="nav-link text-white">
          <i class="bi bi-list-nested"></i>To-Dos<span
            class="badge ml-1 bg-rose-600"
            >Soon</span
          ></a
        >
      </li>
      <li>
        <a class="nav-link text-white">
          <i class="bi bi-sticky"></i>Notes<span class="badge ml-1 bg-rose-600"
            >Soon</span
          ></a
        >
      </li>
    </ul>
    <hr />
    <div class="dropdown" *ngIf="user$ | async as user">
      <a
        class="
          d-flex
          align-items-center
          text-white text-decoration-none
          dropdown-toggle
          cursor-pointer
        "
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="http://localhost:3000/api/user/profile-avatar/{{ user.avatar }}"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>{{ user.username }}</strong>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-black text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li>
          <a class="dropdown-item" routerLink="/user/{{ user.id }}">Profile</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="layout-right h-full max-w-screen-xl m-auto w-full p-10">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active UsersTable"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div *ngIf="dataSource">
          <table
            class="mat-elevation-z8 w-full"
            mat-table
            [dataSource]="dataSource.items"
            matSort
          >
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="navigateToProfile(row.id)"
            ></mat-row>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Id</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Name</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Username</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Email</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Role</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.role }}</mat-cell>
            </ng-container>
          </table>

          <mat-paginator
            class="mt-4"
            [length]="dataSource.meta.totalItems"
            [pageSize]="dataSource.meta.itemsPerPage"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
      <div
        class="tab-pane BlogTable fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <article
          *ngFor="let blogEntry of (dataSourceBlog | async)?.items"
          class="container pt-4"
        >
          <mat-card>
            <mat-card-title
              ><strong class="pr-2">{{ blogEntry.id }}</strong
              >{{ blogEntry.articleTitle }}</mat-card-title
            >
            <mat-card-subtitle>{{ blogEntry.author?.name }}</mat-card-subtitle>
            <mat-card-content>
              <p>{{ blogEntry.articleDescription }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button class="mr-4 w-[10%]" color="primary">
                Edit<span
                  class="
                    position-absolute
                    top-0
                    start-100
                    translate-middle
                    badge
                    rounded-pill
                    bg-danger
                    fs-6
                  "
                >
                  soon
                </span>
              </button>

              <button
                mat-flat-button
                class="w-[10%]"
                color="warn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Delete
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Warning
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body font-semibold">
                      Are you sure you want to delete the article?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        (click)="deleteBlog(blogEntry.id)"
                        mat-flat-button
                        class="w-[10%]"
                        color="warn"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </article>
      </div>
      <div
        class="tab-pane fade"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <app-blog-create></app-blog-create>
      </div>
    </div>
  </div>
</div>
