$primary: #1a1375;
$secondry: #476072;
$primaryFont: "Montserrat";
$secondryFont: "Poppins";
$thirdFont: "Raleway";
.right-top {
  height: 30%;
}
.topLeft {
  border-width: 0px;
  border-right-width: 1px;
  border-right-color: rgba(229, 231, 235, var(--tw-border-opacity)) !important;
}
.profileAvatar {
  height: 28%;
}
.userName {
  font-family: $primaryFont;
}
.topWallpaper {
  background: url("https://source.unsplash.com/random?Nature,Galaxy") no-repeat
    center;
  width: inherit;
  background-size: cover;
}

.nav a {
  font-family: $secondryFont;
}
.bio p {
  font-family: $secondryFont;
  text-align: start;
}
.lead {
  font-family: "Roboto";
  font-size: 16px;
}
