* {
  margin: 0;
  padding: 0;
}
// .oops,
// li,
// a,
// h1,
// p,
// ::placeholder,
// small,
// span {
//   color: greenyellow !important;
// }
// .oops {
//   background-color: rgba(17, 24, 39, var(--tw-bg-opacity)) !important;
// }
// .card {
//   background-color: #252a41;
// }

$primary: #1a1375;
$secondry: #476072;
$primaryFont: "Montserrat";
$secondryFont: "Poppins";
$thirdFont: "Raleway";
//  Valirables

// Code
.layout-left {
  width: 22%;
}
.layout-center {
  width: 49%;
}
.layout-right {
  width: 29%;
}

// Rest
.navUl {
  font-family: $primaryFont;
}
button {
  font-family: $thirdFont;
}
.layout-left i {
  margin-right: 1rem;
  font-size: 1.5rem;
}
button {
  font-family: $thirdFont;
}
.username {
  font-family: $primaryFont;
}
.card-footer:hover {
  cursor: pointer;
}
.card-footer li:hover {
  color: rgba(37, 99, 235, var(--tw-border-opacity)) !important;
}
.card-footer li:first-child:hover {
  color: rgba(239, 68, 68, var(--tw-border-opacity)) !important;
}
.nav-link {
  color: black;
}
.navUl li {
  padding: 0.75rem;
  margin-top: 0.5rem !important;
  width: max-content;
}
.navUl li:first-child {
  margin-top: 0 !important;
}
.navUl li:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.leftHeader a:hover {
  color: rgb(173, 58, 4);
}
.treandingCard {
  font-family: $primaryFont;
}
.treandingCard li {
  padding-top: 0.75rem;
}
.treandingCard li:hover {
  cursor: pointer;
  color: #1a1375 !important;
}
@media only screen and (max-width: 1200px) {
  .layout {
    margin-left: 5rem !important;
    justify-content: start !important;
  }
  .layout-right .right-fixed {
    margin: 0 !important;
    width: 25% !important;
  }
  .centerPost,
  .centerPostCreator {
    margin-top: 0% !important;
    border-top: 2px gray solid;
    border-radius: 0;
  }

  .layout-center {
    border: 0.1px solid gray;
    border-top: none;
    border-bottom: none;
  }
  .layout-left {
    width: 8%;
    padding-left: 1rem !important;
  }
  .layout-center {
    width: 55%;
  }
  .leftNav {
    margin-top: 2rem !important;
  }
  .leftNav i {
    margin-right: 0 !important;
  }
  .layout-left a {
    display: none;
  }
  .layout-left a:first-child {
    display: block !important;
  }
  .layout-left button {
    width: 45px !important;
    height: 45px !important;
  }
  .layout-left .bi-type {
    margin: 0;
  }
}
@media only screen and (min-width: 1201px) {
  .layout-left .bi-type {
    display: none;
  }
}
