section {
  background: #076585;  /* fallback for old browsers */
  background: -webkit-linear-gradient(19deg, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(19deg, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
.navbar {
  background-color: rgb(255 255 255/0.6);
}
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 600;
}
.nav-link {
  font-weight: 400;
  color: #000;
  font-family: "Roboto";
}
.nav-link:hover {
  color: #0ea5e9;
}
.article-body {
  text-transform: capitalize;
}
.articleDate {
  font-size: 14px;
}
.articleTitle {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
.lead {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.readMore {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
}
.authorName,
.articleDate {
  font-family: "Inter";
  font-weight: 400;
}
.display-6 {
  font-family: "Inter";
}
