section {
  background-image: linear-gradient( 109.6deg,  rgba(218,185,252,1) 11.2%, rgba(125,89,252,1) 91.1% );
}
.navbar {
  background-color: rgb(255 255 255/0.6);
}
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 600;
}
.nav-link {
  font-weight: 400;
  color: #000;
  font-family: "Roboto";
}
.nav-link:hover {
  color: #0ea5e9;
}
.article-body {
  text-transform: capitalize;
}
.articleDate {
  font-size: 14px;
}
.articleTitle {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
.lead {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.readMore {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
}
.authorName,
.articleDate {
  font-family: "Inter";
  font-weight: 400;
}
.display-6 {
  font-family: "Inter";
}
