<section class="vh-100 bg-image bg-gray-50 shadow-xl">
  <div class="mask h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row h-100">
        <div class="">
          <div class="" style="border-radius: 15px">
            <div class="home-container xxl">
              <div class="absolute right-10 top-10">
                <div class="intro">
                  <h1 class="text-5xl pb-1 font-semibold">
                    Welcome To UTM-Social
                  </h1>
                  <p class="text-lg pt-1">
                    Here you can find everything related to UTM and its students
                  </p>
                </div>
                <div class="btn pt-2">
                  <button class="text-lg w-32" mat-raised-button color="accent">
                    Register
                  </button>
                  <button
                    class="btnLog w-32 text-lg ml-14"
                    mat-stroked-button
                    color="accent"
                  >
                    Login
                  </button>
                </div>
              </div>
              <img
                src="{{ blk }}"
                alt=""
                class="
                  block
                  bottom-0
                  absolute
                  h-16
                  pointer-events-none
                  select-none
                "
              />
              <div class="bottom-4 left-36 absolute text-2xl uppercase">
                <ul class="">
                  <li><a href="#">Find out</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Follow us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
