<div class="oops bg-gray-50 bg-cover">
  <div class="layout max-w-screen-xl h-full flex justify-evenly m-auto">
    <div class="layout-left bg-gray-100 pt-2 pl-2">
      <div class="leftHeader pl-2 w-max">
        <div class="yinYang fixed">
          <a class="navbar-brand text-2xl active" href="/">UTM-eActivity</a>
        </div>
      </div>
      <div class="leftNav pl-2 fixed mt-20">
        <ul class="navUl font-semibold text-xl">
          <li class="nav-item flex justify-center">
            <i class="bi bi-house"></i>
            <a class="nav-link text-gray-900 active" href="#">Home</a>
          </li>
          <li class="nav-item flex">
            <i class="bi bi-calendar3-event"></i>
            <a class="nav-link text-gray-900 active" href="#">Events</a>
          </li>
          <li class="nav-item flex">
            <i class="bi bi-newspaper"></i>
            <a class="nav-link text-gray-900 active" routerLink="/blog">News</a>
          </li>
          <li class="nav-item flex">
            <i class="bi bi-send"></i>
            <a class="nav-link text-gray-900 active" routerLink="/contact"
              >Contact Us</a
            >
          </li>
          <li class="nav-item flex">
            <i class="bi bi-info-circle"></i>
            <a class="nav-link text-gray-900 active" href="#"> About Us</a>
          </li>
          <li class="nav-item flex">
            <i class="bi bi-person"></i>
            <a class="nav-link text-gray-900 active" href="/profile">Profile</a>
          </li>
          <!-- <button
            type="button "
            class="
              btn btn-dark
              rounded-3xl
              text-white
              font-semibold
              text-lg
              mt-3
              mb-2
              h-12
              w-9/12
              bg-yellow-600
              border-none
            "
          >
            <i class="bi bi-type"></i>
            <a href="#">Post</a>
          </button> -->
        </ul>
      </div>
    </div>
    <div class="layout-center">
      <div
        class="
          centerHeader
          card
          shadow-md
          sticky-top
          flex flex-row
          justify-between
          px-3
          py-2
        "
      >
        <a class="navbar-brand font-medium" href="/">Home</a>
        <i class="bi bi-brightness-high text-2xl"></i>
      </div>
      <div
        *ngIf="user$ | async as user"
        class="centerPostCreator shadow-md card mt-10 p-3 pb-3 pr-3"
      >
        <div class="creatorUserAvatar absolute">
          <img
            routerLink="/user/{{ user.id }}"
            src="http://localhost:3000/api/user/profile-avatar/{{
              user.avatar
            }}"
            class="routerToProfile rounded-full w-16"
            alt="..."
          />
        </div>
        <div class="creatorText ml-20 mt-2 border-b-2 border-gray-900">
          <form [formGroup]="form" autocomplete="off">
            <textarea
              rows="2"
              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
              class="
                text-lg
                w-full
                placeholder-gray-600
                font-medium
                bg-transparent
                outline-none
                resize-none
              "
              placeholder="What's on your mind, {{ user.username }}?"
              formControlName="postBody"
            ></textarea>
          </form>
          <img
            class="m-auto"
            *ngIf="form.get('postImage')!.value"
            src="http://localhost:3000/api/post/image/{{
              form.get('postImage')!.value
            }}"
          />
        </div>
        <div class="creatorBottom mt-2 flex justify-between items-center">
          <div class="leftCreator">
            <a class="uploadIcon text-black cursor-pointer" (click)="onClick()"
              ><i class="bi bi-image ml-20 text-xl"></i
            ></a>
            <i class="bi bi-link-45deg ml-3 text-xl"></i>
            <i class="bi bi-emoji-smile ml-3 text-xl"></i>
          </div>
          <ul class="mb-0">
            <li>
              <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            </li>
          </ul>
          <input
            type="file"
            #fileUpload
            id="fileUpload"
            name="fileUpload"
            accept="image/*"
            style="display: none"
          />
          <div class="rightCreator">
            <button
              [disabled]="!form.valid"
              type="submit"
              (click)="post()"
              class="
                btn btn-dark
                rounded-3xl
                text-white
                font-semibold
                text-lg
                h-9
                w-20
                bg-rose-600
                border-none
              "
            >
              Post
            </button>
          </div>
        </div>
      </div>
      <div
        *ngFor="let postEntry of dataSource | async"
        class="centerPost mainPost shadow-md card mt-10"
      >
        <div class="postHeader p-3 flex">
          <div class="btn-group absolute right-0 pr-4 dropstart">
            <a
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="pr-4 text-xl absolute right-0"
              ><i class="bi bi-three-dots-vertical"></i
            ></a>
            <ul class="dropdown-menu p-2 text-gray-50">
              <li>
                <a
                  (click)="deletePost(postEntry.id)"
                  class="dropdown-item text-[16px] font-['Roboto']"
                  ><i class="bi bi-trash pr-1"></i>Delete</a
                >
              </li>
              <li>
                <a class="dropdown-item text-[16px] font-['Roboto'] pt-2"
                  ><i class="bi bi-pencil pr-1"></i>Edit</a
                >
              </li>
            </ul>
          </div>
          <img
            routerLink="/user/{{ postEntry.author?.id }}"
            src="http://localhost:3000/api/user/profile-avatar/{{
              postEntry.author?.avatar
            }}"
            class="routerToProfile rounded-full w-16 h-16"
            alt="..."
          />
          <div class="nameH flex flex-col justify-center">
            <span class="ml-3 text-black username font-bold text-xl">{{
              postEntry.author?.name
            }}</span>
            <small
              routerLink="/user/{{ postEntry.author?.id }}"
              class="routerToProfile ml-3 font-medium text-muted"
              >@{{ postEntry.author?.username }}</small
            >
            <small class="ml-3 font-medium text-muted">{{
              postEntry.creationDate | date
            }}</small>
          </div>
        </div>
        <div class="postBody pl-3">
          <p class="lead font-normal text-base">{{ postEntry.postBody }}</p>
        </div>
        <img
          *ngIf="postEntry.postImage !== null"
          src="http://localhost:3000/api/post/image/{{ postEntry.postImage }}"
          class="card-img-bottom bg-cover"
          alt="..."
        />

        <div class="card-footer p-2 flex flex-row text-lg">
          <li class="nav-link">
            <i class="bi bi-heart mr-2"></i>{{ postEntry.postLikes }}
          </li>
          <li class="nav-link ml-4"><i class="bi bi-chat mr-2"></i>Comment</li>
          <li class="nav-link share ml-4">
            <i class="bi bi-upload mr-2"></i>Share
          </li>
        </div>
      </div>
      <div class="divider mt-20"></div>
    </div>
    <div class="layout-right flex justify-center pl-2">
      <div class="right-fixed layout-right-content float-right h-full fixed">
        <div class="rightHeader w-full border-none shadow-sm card px-3 py-2">
          <a class="navbar-brand" href="/">Search</a>
        </div>
        <div class="treandingCard card border-gray-300 mt-11 w-full text-base">
          <span class="font-black text-lg p-3">Trending Today</span>
          <!-- <li *ngFor="let postEntry of (dataSource | async)?.items"  class="nav-link mt-2">
            <small class="text-muted font-bold">@{{postEntry.author?.username}}</small>
            <h1 class="font-semibold text-base">
              {{postEntry.postBody}}
            </h1>
          </li> -->
          <li class="nav-link">
            <small class="text-muted font-bold">@Admin</small>
            <h1 class="font-semibold text-base">Guest House Week</h1>
            <p class="lead text-sm font-medium">
              Our guest for this week will be Dr...
            </p>
          </li>
          <li class="nav-link">
            <small class="text-muted font-bold">@SoC</small>
            <h1 class="font-semibold text-base">Q&N for upcoming graduates</h1>
            <p class="lead text-sm font-medium">
              New graduates you can ask you sinors...
            </p>
          </li>
        </div>
      </div>
    </div>
    <div class="layout-bottom">
      <nav
        class="
          navbar
          navbottom
          fixed-bottom
          py-2
          text-white
          bg-gray-700
          justify-evenly
        "
      >
        <a class="nav-item" href="#"><i class="bi bi-house"></i></a>
        <a class="nav-item" href="#"><i class="bi bi-calendar3-event"></i></a>
        <a class="nav-item" href="#"><i class="bi bi-person"></i></a>
      </nav>
    </div>
  </div>
  <!-- Modal -->
  <!-- <div *ngFor="let postEntry of dataSource | async">
    <div
      class="modal fade"
      [id]="postEntry.postBody"
      aria-labelledby="imgModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <strong>{{ postEntry.author?.name }}</strong>
            <img
              src="http://localhost:3000/api/post/image/{{
                postEntry.postImage
              }}"
              class="card-img-bottom bg-cover"
              alt="..."
            />
          </div>
          <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
