// @import "../../../assets/css/main.css";
// @import "../../../assets/css/util.css";

.navbar {
  background-color: rgba(255, 255, 255, 0.76);
}
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 600;
}
.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  font-family: "Roboto";
}
.nav-link:hover {
  color: #0ea5e9;
}
:disabled {
  cursor: not-allowed !important;
  background: #be5050ed;
}
h2 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 2rem;
}
.small {
  font-size: 80%;
  font-weight: 400;
  color: #8898aa !important;
}
.btn-neutral {
  color: #5e72e4;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn {
  position: relative;
  display: inline-block !important;
  font-weight: 600;
  user-select: none;
  border: 1px solid transparent !important;
  text-transform: none;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  will-change: transform;
}
// .btn-inner--text {
//   margin-left: 0.75em;
// }
.btn:hover {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  -webkit-transform: translateY(-1 px);
  transform: translateY(-1 px);
}
.btn-neutral:hover {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}
.btn .btn-inner--icon {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
