<!-- <div class="page-outline"></div>
<div class="page-content">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon>login</mat-icon>
        <span class="admin">Login</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="middle-container">
      <div class="sides-container">
        <h2>Login</h2>
        <div class="Uppper-side">
          <div class="container-form">
            <form
              autocomplete="off"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
            >
              <mat-form-field>
                <input
                  autocomplete="email"
                  matInput
                  placeholder="Email"
                  formControlName="email"
                />

                <mat-error *ngIf="loginForm.controls.email.errors"
                  >Email is required</mat-error
                >
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <mat-icon
                  class="visib"
                  color="white"
                  matSuffix
                  (click)="hide = !hide"
                  >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
                <mat-error *ngIf="loginForm.controls.password.errors"
                  >Password is required</mat-error
                >
              </mat-form-field>
              <br />
              <a (click)="fetchingData()">
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="!loginForm.valid"
                  type="submit"
                  class="{{
                    isLoading && error == null
                      ? 'bg-gray-200 text-dark'
                      : 'primary'
                  }}"
                >
                  {{ isLoading && error == null ? "Logging..." : "Login" }}
                </button>
              </a>
            </form>
          </div>
        </div>
        <div
          class="error pt-2 {{
            error == sucess ? 'text-green-600' : 'text-red-800'
          }}"
        >
          <span>{{ error }}</span>
        </div>
        <div class="lower-side">
          <small class="text-muted">OR</small>
          <button
            routerLink="/register"
            mat-flat-button
            class="btnlog"
            color="warn"
          >
            <a>Register New Account</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-26"> Welcome </span>
        <span class="login100-form-title p-b-48">
          <i class="bi bi-stars"></i>
        </span>
        <form
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is: a@b.c"
          >
            <input
              class="input100 {{ myInput.value !== '' ? 'has-val' : ' ' }}"
              type="text"
              formControlName="email"
              #myInput
              matInput
              name="email"
            />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="btn-show-pass">
              <i
                (click)="hide = !hide"
                class="bi bi-{{ hide ? 'eye-slash-fill' : 'eye-fill' }}"
              ></i>
            </span>
            <input
              class="input100  {{ pass.value !== '' ? 'has-val' : ' ' }}"
              [type]="hide ? 'password' : 'text'"
              #pass
              matInput
              formControlName="password"
              id="password"
              name="pass"
            />
            <span class="focus-input100" data-placeholder="Password"></span>
            <mat-error
              class="mb-[25px]"
              *ngIf="loginForm.controls.password.errors"
              >Password is required</mat-error
            >
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn">Login</button>
            </div>
          </div>
        </form>
        <mat-error class="mb-[25px]" *ngIf="loginForm.controls.email.errors"
          >Email is required</mat-error
        >

        <div
          class="error pt-2 {{
            error == sucess ? 'text-green-600' : 'text-rose-800'
          }}"
        >
          <span>{{ error }}</span>
        </div>
        <div class="text-center p-t-115">
          <span class="txt1"> Don’t have an account? </span>

          <a class="txt2" href="#"> Sign Up </a>
        </div>
      </form>
    </div>
  </div>
</div>
