
<head>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/util.css" />
</head>
<div class="limiter">
  <div class="layout-top fixed-top nav w-full">
    <nav class="navbar px-[10%] w-full navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand text-2xl">UTM eActivity</a>
        <form class="d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/landing"
              >Home</a
            >
          </li>
          <li class="nav-item m-0 capitalize">
            <a class="nav-link active" aria-current="page" routerLink="/info"
              >About</a
            >
          </li>
          <li class="nav-item m-0 capitalize">
            <a class="nav-link active" aria-current="page" routerLink="/blog"
              >Blog</a
            >
          </li>
        </form>
      </div>
    </nav>
  </div>
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="signWithWrap text-center">
        <div class="infoSign"><small class="small">Sign in with</small></div>
        <div class="buttonSign mt-3">
          <a
            (click)="loginWithFacebook()"
            class="btn-neutral btn-icon btn btn-default mr-[8px]"
            ><i
              class="bi bi-facebook text-[14px] btn-inner--icon text-[#5e72e4]"
            ></i
            ><span class="btn-inner--text text-[14px]">Facebook</span></a
          >
          <a
            (click)="loginWithGoogle()"
            class="btn-neutral btn-icon btn btn-default ml-[4px]"
            ><span class="btn-inner--icon"
              ><img
                alt="..."
                src="../../../assets/img/google.svg"
                class="w-[14px]" /></span
            ><span class="btn-inner--text">Google</span></a
          >
        </div>
      </div>
      <form class="login100-form mt-[38px] validate-form">
        <span class="login100-form-title p-b-26"> Welcome </span>
        <span class="login100-form-title p-b-48">
          <i class="bi bi-stars"></i>
        </span>
        <form
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is: a@b.c"
          >
            <input
              class="input100 {{ myInput.value !== '' ? 'has-val' : ' ' }}"
              type="text"
              formControlName="email"
              #myInput
              matInput
              name="email"
            />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="btn-show-pass">
              <i
                (click)="hide = !hide"
                class="bi bi-{{ hide ? 'eye-slash-fill' : 'eye-fill' }}"
              ></i>
            </span>
            <input
              class="input100  {{ pass.value !== '' ? 'has-val' : ' ' }}"
              [type]="hide ? 'password' : 'text'"
              #pass
              matInput
              formControlName="password"
              id="password"
              name="pass"
            />
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div>
            <mat-error
              *ngIf="
                loginForm.controls.email.errors &&
                loginForm.controls.password.touched
              "
              class="block"
            >
              Please Enter a Valid Email
            </mat-error>
            <mat-error
              *ngIf="
                loginForm.controls.password.errors &&
                loginForm.controls.password.touched
              "
              class="block"
            >
              Please Enter a Valid Password
            </mat-error>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a (click)="fetchingData()">
                <button
                  [disabled]="!loginForm.valid && loginForm.touched"
                  type="submit"
                  class="login100-form-btn"
                  class="{{
                    isLoading && error == null ? 'bg-gray-200 text-dark' : ''
                  }}"
                >
                  {{ isLoading && error == null ? "Logging..." : "Login" }}
                </button>
              </a>
            </div>
          </div>
        </form>

        <div
          class="error pt-2 text-center {{
            error == sucess ? 'text-green-600' : 'text-rose-800'
          }}"
        >
          <span>{{ error }}</span>
        </div>
        <div class="text-center p-t-38">
          <span class="txt1"> Don’t have an account? </span>

          <a class="txt2" routerLink="/register"> Register </a>
        </div>
      </form>
    </div>
  </div>
</div>
