:host app-nav[specificityattr] ::ng-deep a {
  color: #fff;
}
:host app-nav[specificityattr] ::ng-deep img {
  display: none;
}
 li {
  list-style-type: none;
  font-family: "Nunito";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.863);
  margin-top: 1em;
}
i {
  color: rgb(250, 128, 114);
  padding-right: 0.5em;
}

.socials {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-bottom: 1em;
}
.socials i {
  color: #fff;
}
.socials i:hover {
  color: rgb(250, 128, 114);
}
.contact-right {
  width: 100%;
  min-height: 99%;
  margin: 0.5%;
  padding: 1em 1em 1em 1.5em;
  display: grid;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.856);
}
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 600;
}
.nav-link {
  font-weight: 400;
  color: #000;
  font-family: "Roboto";
}
.nav-link:hover {
  color: #0ea5e9;
}
.page-outline {
  position: absolute;
  min-height: 100vh;
  background-image: linear-gradient( 109.6deg,  rgba(218,185,252,1) 11.2%, rgba(125,89,252,1) 91.1% );
  background-position: center;
  background-size: cover;
  width: 100%;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.page-outline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  background: #1c1d21;
}
.page-content {
  z-index: 2;
}
.wave {
  position: absolute;
  top: 12.5%;
  left: 44%;
  z-index: 2;
}

.sides-container {
  display: grid;
  grid-template-columns: 50% auto;
  width: 60%;
  min-height: 80%;
  position: absolute;
  top: 12.5%;
  left: 20%;
}

.left-side {
  background: url("../../../assets/imgs/wave2.svg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 1;
  box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
}
.upper-left {
  margin-top: 6em;
}
.middle-left {
  margin-top: -6em;
}
.left-content {
  width: 50%;
  z-index: 2;
  position: absolute;
  color: #fff;
  padding: 2em;
  height: 100%;
  padding: 1em 1em 0 1.5em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.left-content span {
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2rem;
}
p {
  font-family: "Assistant";
  font-size: 18px;
  text-transform: capitalize;
  padding: 0.5em 0;
  line-height: 25px;
  color: #d0d5da;
}

.visib:hover {
  cursor: pointer;
}
.btnlog {
  width: 10rem;
}
.right-side {
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -10px 10px 19px -10px rgba(0, 0, 0, 0.76);
}
.right-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 1rem;
}
.btnlog:hover {
  color: #faecec;
  background-color: #f44336;
}
.text-muted li {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  padding-top: 6px;
  color: rgb(56, 56, 56);
}
.text-muted li:first-child {
  margin-top: 5px;
}
.text-muted {
  font-weight: 400;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 12px;
  margin-top: 10px;
}
.text-muted i {
  margin-right: 5px;
}
