<app-nav specificityattr></app-nav>
<div class="page-outline"></div>
<div class="page-content">
  <div class="sides-container">
    <div class="left-side">
      <div class="left-content">
        <div class="upper-left">
          <span>Contact Information</span>
          <p>Fill out the form and I will get back to you within 24 hours.</p>
        </div>
        <div class="middle-left">
          <ul>
            <li><i class="fas fa-phone-alt fa-lg"></i>+601162365987</li>
            <li><i class="fas fa-envelope fa-lg"></i>M-syr@outlook.sa</li>
            <li>
              <i class="fas fa-map-marker-alt fa-lg"></i> 81300, Skudai, Johor
            </li>
          </ul>
        </div>
        <div class="lower-left">
          <div class="socials">
            <li>
              <a href="#"><i class="fab fa-dribbble fa-lg"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in fa-lg"></i> </a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github fa-lg"></i> </a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube fa-lg"></i> </a>
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <form autocomplete="off">
        <div class="right-container">
          <h2>Contact Me</h2>
          <mat-form-field>
            <input matInput placeholder="Name" />
            <mat-error>Please enter name</mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input autocomplete="email" matInput placeholder="Email" />
            <mat-error>Please enter an email</mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="6"
            ></textarea>
            <mat-error> Please enter a valid password </mat-error>
          </mat-form-field>
          <br />
          <button mat-flat-button color="primary" class="btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
