<div class="container-layout h-screen w-screen bg-rose-50">
  <div class="layout max-w-screen-xl flex m-auto h-full justify-between">
    <div class="layout-nav w-[15%]">
      <div class="navbar card h-screen">
        <ul class="nav text-2xl h-full flex flex-col justify-between">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-house">Home</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-newspaper">Blog</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-calendar3-event"></i>Events</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-send">Contact</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-info-circle">About</i></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-person-circle">Profile</i></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="layout-main w-[50%]"></div>
    <div class="layout-sidebar w-[25%]"></div>
  </div>
</div>
