<div class="container-layout scroll-smooth bg-gray-900 h-screen">
  <div class="layout max-w-screen-xl m-auto h-screen flex justify-center">
    <div class="layout-top fixed">
      <div class="navbar">
        <ul class="nav gap-10 text-blue-50">
          <li class="nav-item">
            <a class="nav-link" routerLink="/info">About</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand text-2xl text-stone-50 m-0" href="/"
              >UTM-eActivity</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="layout-middle flex items-center">
      <div class="hero-intro w-1/2 text-white text-center">
        <h1 class="display-4">UTM eActivity</h1>
        <div class="container-fluid">
          <div class="separator line-separator">✻</div>
        </div>
        <p class="text-xl lead text-white pt-1 pb-2">
          Your way to keep in touch with the world!
        </p>
        <button
          *ngIf="!authService.display()"
          routerLink="/register"
          class="btn btn-danger hover:bg-rose-500 bg-rose-700 border-rose-700"
        >
          Register
        </button>
        <small *ngIf="!authService.display()">or</small>
        <button
          *ngIf="!authService.display()"
          routerLink="/login"
          class="btn btn-info text-white hover:bg-cyan-600 bg-cyan-800 border-cyan-800"
        >
          Login
        </button>
        <button
          *ngIf="authService.display()"
          routerLink="/profile"
          class="btn btn-info text-white hover:bg-cyan-600 bg-cyan-800 border-cyan-800"
        >
          Profile
        </button>
      </div>
      <div class="hero-img">
        <img
          src="{{ hero }}"
          draggable="false"
          class="w-5/6 float-right selector"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<section class="min-h-screen w-full z-30 bg-indigo-500">
  <h1
    class="display-4 whyus font-semibold text-white uppercase text-center pt-28 pb-16"
  >
    Why us?
  </h1>

  <div class="main-container flex justify-center items-center flex-wrap">
    <div
      class="container-card flex justify-center items-center flex-wrap max-w-screen-xl mx-10"
    >
      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">01</h2>
            <i class="bi bi-suit-club-fill text-white text-5xl"></i>
            <h3 class="mt-4">Value</h3>
            <p class="lead capitalize">
              Created by students For students we know the struggle, and we
              trying to fight it together.<br />yippee
            </p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">02</h2>
            <i class="bi bi-suit-diamond-fill text-white text-5xl"></i>
            <h3 class="mt-4">Time</h3>
            <p class="lead capitalize">
              Trying to find events without any idea where to find it is no fun.
              We have all the events in one place
            </p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2 class="select-none">03</h2>
            <i class="bi bi-suit-spade-fill text-white text-5xl"></i>
            <h3 class="mt-4">New Level</h3>
            <p class="lead capitalize">
              our website is more than events, here you can connect with
              students outside your inner-circle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
