<div class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <img src="{{ logo }}" alt="logo" />
        <span>Like what you see?</span>
        <button type="button" routerLink="/contact" class="btn btn-light">
          Contact me
        </button>
      </div>
      <div class="footer-middle">
        <span>Explore</span>
        <a routerLink="/">home</a>
        <a routerLink="/contact">contact</a>
        <a routerLink="/">about</a>
        <a routerLink="/blog">blog</a>
      </div>
      <div class="footer-midtwo">
        <span>Socials</span>
        <a routerLink="/">Dribbble</a>
        <a routerLink="/">Twitter</a>
        <a routerLink="/">Linkedin</a>
        <a routerLink="/">Youtube</a>
      </div>
      <div class="footer-right">
        <ng-lottie
          width="200px"
          height="200px"
          class="doggy"
          [options]="options"
        ></ng-lottie>
      </div>
    </div>
  </div>
  <div class="footer-claim text-muted">
    <p>Copyright &#169; 2021 Majd Alali. All Rights Reserved</p>
  </div>
</div>
