<div class="main min-h-screen">
<div class="nav">
  <nav class="navbar px-[10%] w-full navbar-secondary">
    <div class="container-fluid">
      <a class="navbar-brand text-2xl">UTM eActivity</a>
      <form class="d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <button class="btn w-full">
            <i class="fas fa-power-off text-danger"></i>
          </button>
        </li>
      </form>
    </div>
  </nav>
</div>

<div class="form-container max-w-screen-xl m-auto flex flex-col">
  <div class="card flex flex-col items-stretch" style="width: 30%">
    <img
      class="rounded-full h-28 w-28 m-auto"
      *ngIf="form.get('avatar')!.value"
      src="http://localhost:3000/api/user/profile-avatar/{{
        form.get('avatar')!.value
      }}"
    />
    <button mat-button color="warn" (click)="onClick()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <ul class="mb-0">
      <li>
        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
      </li>
    </ul>
    <input
      type="file"
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      accept="image/*"
      style="display: none"
    />
  </div>

  <form
    style="width: 30%"
    class="mt-10 flex flex-col"
    [formGroup]="form"
    (ngSubmit)="update()"
  >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        formControlName="name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        formControlName="username"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text h-100" id="basic-addon1">Bio</span>
      </div>
      <textarea
        type="text"
        class="form-control"
        placeholder="Bio"
        aria-label="Bio"
        aria-describedby="basic-addon1"
        formControlName="bio"
      >
      </textarea>
    </div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!form.valid"
      type="submit"
    >
      Update Profile
    </button>
  </form>
</div>
</div>